<div class="featured">
  <div class="box-img" style='background-image: url(<%= display_image(featured_article.image)%>);'>
    <p class="title orange"> <%= featured_article.title %></p>
  </div>
</div>