<span class="box">
    <a href="<%= 'articles/show/' + article.id.to_s %>" class="category-link">
      <div class="box-img" style='background-image: url(<%= display_image(article.image_data) %>);'></div>
    </a>
</span>
