/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body{
    background-color: #4e443f;
    overflow-x: hidden;
    padding: 5px;
    width: 100vw;
    max-width: 100%;
  }

  main{
    height: auto;
    width: 100%;
  }

  nav{
  display: flex;
  position: sticky;
  height: 10vh;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
 }

 nav a{
  color: grey;
  text-transform: uppercase;
  margin: 0 5px;
  font-size: 0.9rem;
 }

 nav a:hover{
  color: #fe6001;
 }

 footer{
  justify-content: space-between;
  display: flex;
  height: 10vh;
  align-items: center;
  padding: 0 15px;
  color: white;
  font-size: 0.9rem;

 }

 input{
  margin: 10px 0;
  width: 300px;
  height: 40px;
  display: block;
}

a{
  color: #fe6001;
  text-decoration: none;
}

label{
 font-size: 1rem;
 font-weight: bolder;
 color: #fe6001;
}


@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bkg-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin truncate-txt{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flash{
  height: 30px;
  width: 100%;
  position: absolute;
  @include center;
}

.flash p{
  color: white;
}

.notice{
  background-color: rgba(40, 13, 145,0.5);
}

.alert{
  background-color: rgba(189, 102, 15, 0.5);
}

.privacy-and-copyright{
  width: 60%;
  @include center;
}

.privacy-and-copyright a:hover{
  color: white;
}

.privacy-terms{
  padding-right: 20px;
}

.privacy{
  margin-right: 10px;
}

.button{
  cursor: pointer;
  margin: 15px 0;
}

.social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.social-logo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fe6001;
  display:flex;
  @include bkg-img
}

.orange {
  color: orange;
}

.title{
  font-weight: bold;
  font-size: 1rem;
}

.form{
  background-color: white;
  width: 70vw;
  height: auto;
  padding: 50px;
  @include center;
  flex-direction: column;
}

.field{
  margin-top: 15px;
}

.button{
  margin-top: 15px;
}

.nav-logo{
  height: 60%;
   width: 100px;
}

.foot-logo{
  width: 20%;
}

 .logo {
   height: 60%;
   width: 100px;
   background-color: red;
 }

 .nav-links {
  height: 20px;
 }

 .container{
   width: 100%;
   height: 100%;
   @include center;
 }

  .other-form{
    font-size: 1.2rem;
    margin-top: 5px;
  }

 .box{
   width: 50%;
   height: 100%;
   position:relative;
   background-color: #7a7a7a;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   @include truncate-txt();
 }

 .box-img{
   width: 100%;
   height: 100%;
   @include bkg-img
 }

 .categ-name{
   color: white;
 }

 .titles{
   height: 100%;
   width: 100%;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   padding: 20px;
 }

 .row-set{
  display: flex;
  width: 100%;
  max-height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
 }

 .row{
   height: 50vh;
 }

 .half-row{
   @include center;
   display: flex;
   width: 50%;
   height: 100%;
  }

  .box-img{
    @include bkg-img;
  }

 .row:nth-child(odd) .half-row{
   flex-direction: row-reverse;
 }
