/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // ***** VARIABLES ******

  $brown: #4c443f;
  $yellow: #f99c00;
  $orange: #fe6001;

  // ***** MIXINs *****

  @mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}

  @mixin bkg-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @mixin truncate-txt{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @mixin width-height-100{
    width: 100%;
    height: 100%;
  }

  @mixin roboto-bold {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
  }

  @mixin flex-column{
    display: flex;
    flex-flow: column;
  }

  // ***** TAGs *****

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body{
    background-color: #4e443f;
    overflow-x: hidden;
    padding: 5px;
    width: 100vw;
    max-width: 100%;
  }

  main{
    height: auto;
    min-height: 80vh;
    width: 100%;
  }

  nav{
  display: flex;
  position: sticky;
  height: 10vh;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
 }

  nav a{
  color: grey;
  text-transform: uppercase;
  margin: 0 5px;
  font-size: 0.9rem;
 }

 nav a:hover{
  color: $orange;
 }

 footer{
  justify-content: space-between;
  display: flex;
  height: 10vh;
  min-height: 35px;
  align-items: center;
  padding: 0 15px;
  color: white;
  font-size: 0.9rem;
 }

 input{
  margin: 10px 0;
  width: 300px;
  height: 40px;
  display: block;
}

a{
  color: $orange;
  text-decoration: none;
}

label{
 font-size: 1rem;
 font-weight: bolder;
 color: $orange;
}

// ***** CLASSES *****

.flash{
  height: 30px;
  width: 100%;
  position: absolute;
  @include center;
  z-index: 100;
}

.flash p{
  color: white;
}

.notice{
  background-color: rgba(40, 13, 145,0.5);
}

.alert{
  background-color: rgba(189, 102, 15, 0.5);
}

.privacy-and-copyright{
  width: 60%;
  @include center;
}

.privacy-and-copyright a:hover{
  color: white;
}

.privacy-terms{
  padding-right: 20px;
}

.privacy{
  margin-right: 10px;
}

.button{
  cursor: pointer;
  margin: 15px 0;
}

.social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.social-logos{
  width: 110px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.social-logo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $orange;
  display:flex;
  @include bkg-img;
  background-size: 20px 20px;
}

.orange {
  color: orange;
}

.title{
  font-weight: bold;
  font-size: 1rem;
}

.titles{
  @include flex-column;
  @include width-height-100;
  padding: 20px;
  justify-content: space-between;
}

.form{
  @include flex-column;
  @include center;
  background-color: white;
  width: 70vw;
  height: auto;
  padding: 50px;
}

.field, .button{
  margin-top: 15px;
}

.logged{
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

 .logo {
  @include roboto-bold;
  @include center;
  text-transform: none;
  font-size: 1.5rem;
  margin-left: 30px;
  width: 200px;
  justify-content: flex-start;
  height: 50%;
  border-bottom:  medium solid $orange;
 }

 footer .logo:hover{
  color: white;
  border-bottom-color: white;
}

 .nav-links {
  height: 20px;
 }

 .container{
   margin-top: 1%;
   @include width-height-100;
   @include center;
 }

  .other-form{
    font-size: 1.2rem;
    margin-top: 5px;
  }

 .box{
   @include flex-column;
   @include width-height-100;
   @include truncate-txt;
   position:relative;
   background-color: #7a7a7a;
   justify-content: space-between;
   white-space: normal;
 }

 .box-img{
   @include width-height-100;
   @include bkg-img
 }

 .category-link {
   @include width-height-100;
 }

 .text-box{
   background-color: white;
 }

 .categ-name {
   color: white;
   font-weight: 700;
   width: 30%;
  border-bottom: medium solid $yellow;
 }

 .article-content{
  @include width-height-100;
  @include flex-column;
  justify-content: space-between;
  padding: 20px;
 }

  .article-content .categ-name {
    color: $yellow;
    margin-bottom: 10px;
  }

 .article-author{
   font-size: 0.8rem;
 }

  .article-title{
  color: black;
}

.last-article-title{
  color: white;
  font-size: 1rem;
  font-weight: bolder;
}

 .article-text{
   overflow-wrap: break-word;
   font-size: 0.8rem;
   font-weight: 500;
   padding: 10px 0;
  }

 .row-set{
  display: flex;
  width: 100%;
  max-height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
 }

  .row{
   height:50vh;
   width: 100%;
   display: flex;
  }

 .half-row{
   @include center;
   display: flex;
   width: 50%;
   height: 100%;
  }

  .quarter-row{
    display:flex;
    width: 25%;
    height: 100%;
  }

  .box-img{
    @include bkg-img;
  }

 .row:nth-child(odd) .half-row{
   flex-direction: row-reverse;
 }

 .pagination{
   width: 100%;
   height: 30px;
   padding: 30px;
   background-color: white;
   @include center;
 }

 .featured {
   height: 50vh;
   width: 100%;
 }

 .featured .box-img{
   box-shadow: inset 0 -110px 40px -10px rgba(0, 0, 0, 0.8)
 }
 .down{
   justify-content: flex-end;
 }
 .featured-text{
   color: white;
   margin-top: 20px;
 }

.twitter{
  background-image: image-url("twitter.png");
}
.twitter:hover{
  background-image: image-url("twitter-white.png");
}
.github{
  background-image: image-url("github.png");
}
.github:hover{
  background-image: image-url("github-white.png");
}
.linkedin{
  background-image: image-url("linkedin.png");
}
.linkedin:hover{
  background-image: image-url("linkedin-white.png");
}

.shadow{
  box-shadow: inset 0 -60px 40px -10px rgba(0, 0, 0, 0.8), inset 0 110px 40px -10px rgba(0, 0, 0, 0.5);
}