<span class="box">
  <%= display_image(article)  %>
  <p class="title categ-name"> <%= category_last_article.category_name %></p>
  <p class="title last-article-title"><%= category_last_article.title %> </p>
</span>
