<div class="featured">
  <a href="/">
    <%= render partial: 'articles/featured', locals: {featured_article: @featured_article} %>
  </a>
</div>
<div class="categories-rows">
 <%= make_rows_html(@last_articles_list, 'categories/category_box') %>
</div>
<%= will_paginate @last_articles_list %>