<div class="featured">
  <a href="/">
    <%= render partial: 'articles/featured', locals: {featured_article: @featured_article} %>
  </a>
</div>
<div class="row-set">

    <% @last_articles_list.each do |article| %>
        <%= render partial: 'category_box', locals: { article: article } %>
    <% end %>

</div>
<%= will_paginate @last_articles_list %>