<div class="featured">
  <%= render partial: 'articles/featured', locals: {featured_article: @featured_article} %>
</div>
<div class="categories-rows">
<% @top_categories.each do |category| %>
  <%= render partial: 'category_box', locals: { category: category} %>
<% end %>
</div>