<div class="featured">
  <a href="/">
    <%= render partial: 'articles/featured', locals: {featured_article: @featured_article} %>
  </a>
</div>
<div class="categories-rows">

    <% @categories_last_articles.each do |category_last_article| %>

        <% @article = @last_articles_list.where(id: category_last_article.id) %>
        <%= render partial: 'category_box', locals: { category_last_article: category_last_article, article: @article } %>
    <% end %>

</div>