<div class="featured">
  <%= render 'featured' %>
</div>
<div class="four-best">
  <div class="one-of-four"></div>
  <div class="one-of-four"></div>
  <div class="one-of-four"></div>
  <div class="one-of-four"></div>
</div>